@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");

$primary: #4d6fe5;

.container-signin {
  max-width: 500px;
  text-align: center;
  color: #fff;
  margin-top: 100px;

  > .header-signin {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 auto 60px auto;
    position: relative;
    height: 30px;
    width: 250px;
    overflow: hidden;
  }
}
.header-headings {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  > span {
    margin: 3px 0;
  }
  &.sign-in {
    transform: translateY(0);
  }
  &.sign-up {
    transform: translateY(-45px);
  }
  &.forgot {
    transform: translateY(-77px);
  }
  &.signin-with-phone {
    transform: translateY(-77px);
  }
}
.options {
  display: flex;
  align-items: center;
  width: 350px;

  @media screen and (max-width: 380px) {
    width: 100%;
  }

  > li {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
    &:nth-of-type(2) {
      margin-left: 15px;
    }
    &:nth-of-type(3) {
      margin-left: 15px;
    }
    &:last-of-type {
      margin-left: auto;
    }
  }
}
.account-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.account-form-fields {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &.sign-in {
    max-height: 123px;
  }
  &.sign-up {
    max-height: 250px;
  }
  &.forgot {
    max-height: 61px;
  }
  &.signin-with-phone {
    max-height: 61px;
  }

  > input {
    border: 0;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1rem;
    font-family: Nunito, sans-serif;
    color: #000;
    border-radius: 5px;

    &::placeholder {
      color: #aaa;
    }
    &::-webkit-input-placeholder {
      color: #aaa;
    }
    &:-ms-input-placeholder {
      color: #aaa;
    }
    &:focus {
      outline: none;
    }
  }
}
.btn-submit-form {
  margin-top: 5px;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  background: lighten($primary, 5%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;

  &:hover {
    background: darken($primary, 2%);
  }
  &:active,
  &:focus {
    outline: none;
    background: darken($primary, 7%);
  }
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  text-align: center;

  > a {
    color: #fff;
    font-weight: 700;
  }
}
